* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    background-color: #1f1f24;
    color: white;
    gap: calc(16px * 5);
}

.headercont {
    align-self: stretch;
    text-align: center;
    color: #4F86F7;
    display: flex;
    justify-content: center;
    background-color: #26262c;
    padding: 10px 0;
}
.icon{
    position: absolute;
    left: 10px;
    font-size: 30px;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    transition: 0.5s;
    /* border-radius: 100px; */
    border: 2px solid transparent;

}
.icon:hover{
    border: 2px solid #4F86F7;
    border-radius: 100px;
}
.plugincont {
    padding: 0 calc(16px * 5);
    display: grid;
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 650px));
    justify-content: center;
    align-items: center;
}
.animate{
    animation: bg 0.85s 1 forwards;
}
.plugin {
    position: relative;
    height: 350px;
    border: 2px solid #3765c2;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s box-shadow;
}
@keyframes bg {
    0%{
        background-position-x: -1000px;
    }
    25%{
        transform: scale(0.9);
    }
    50%{
        background-position-x: center;
        transform: scale(0.9);
    }
    75%{
        transform: scale(1);
    }
}
.plugin:hover {
    box-shadow: 0 0 8px 0 #3765c2;
}

#discordfm {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/882140799272382475/ezgif.com-gif-maker.gif");
    background-size: contain;
}
#bettersettings{
    background-image: url("https://camo.githubusercontent.com/a87732adcb3156e8241d61c7b963adf111be63d086db731ba198ef705590c3f5/68747470733a2f2f692e696d6775722e636f6d2f6270716863654c2e676966");
    background-size: contain;
}
.pluginbtncont > :is(a, button) {
    height: 30px;
    width: 30px;
    border: 2px solid #3765c2;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    margin-right: 5px;
}

.pluginbtncont :is(a:hover, button:hover) {
    transform: scale(1.2);
}
.powercord{
    background-color: transparent;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://powercord.dev/assets/powercord.1eb41971.svg"); */
}
.powercord > img {
    height: 25px;
    width: 25px;
    filter: contrast(1.4);
    
}

.betterdiscord > img {
    height: 30px;
    width: 30px;
}
.betterdiscord{
    filter: grayscale(0.6) opacity(0.6);
}
.betterdiscord:hover{
    filter: grayscale(1) opacity(0.6);
    cursor:not-allowed;
}
.github > img {
    height: 27px;
    width: 27px;
    display: block;
    margin-left: 1.99999px;
    margin-top: 1px;
    filter: hue-rotate(250deg);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: #171718;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #26262c;
}

.pluginbtncont {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -48px;
}

h2 {
    text-align: center;
    opacity: 0;
    display: flex;
    transition: 0.5s;
    transform: translateY(-70px);
    position: absolute;
    margin: 10px;
    padding: 4px 10px;
}

.plugin:hover h2 {
    transform: translateY(0px);
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
}
.stars{
    font-size: 25px;
    width: 100%;
    text-align: end;
    border-radius: 5px;
    background: none !important;
    color: white;
    display: flex;
    justify-content:flex-end;
}
.stars h2::before{
    font-size: 20px;
    content: '\f005';
    padding-right: 4px;
}
.stars label{
    font-family: "Raleway", sans-serif;
}
.stars h2{
    background: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    padding-bottom: 8px;
}
.arrows{
    background:rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    padding: 10px;
    height: 15px;
    width: 15px;
    text-align: center;
    margin: 10px;
    opacity: 0;
    transition: 0.5s transform, 0.5s opacity, 0.2s color;
    z-index: 1;
}
.arrowcont{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    justify-self: center;
    height: 100%;
    align-items: center;
    z-index: -1;
}
.plugin:hover .arrows{
    transform: translateX(0px) !important;
    opacity: 1;
}
#next{
    transform: translateX(50px);
    cursor: pointer;
}
#previous{
    transform: translateX(-50px);
    cursor: not-allowed;
}
/* .arrows:hover{
    transform: scale(1.1);
} */
#next:hover, #previous:hover{
    transform: translateX(0px) scale(1.1) !important;
    color: #4F86F7;
}